/* *
* 通用样式部分
* */
html {
  background-color: #f5f5f5;
}

/* 滚动条的重置 */
html::-webkit-scrollbar {
  width: 4px;
  z-index: 1;
}

html::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}

html {
  scrollbar-width: 2px;
}

.logo {
  cursor: pointer;
}

.page-container {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4em;
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
}

.footer a {
  color: #4a4a4a;
}

.header-user .image img {
  max-height: none;
}

.menu a {
  text-decoration: none !important;
}

.message ul,
.message ol,
.message li {
  list-style: none !important;
}


.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.text-ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.text-ellipsis-8 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}


.text-ellipsis-12 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}

.badge:before,
.category-list-count:before {
  padding-left: 2px;
  content: '(';
}

.badge:after,
.category-list-count:after {
  content: ')';
}


/* 分类标记部分 */
.category-list-item:not(body,.token) {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap
}

.category-list-item:not(body,.token) .delete {
  margin-left: .25rem;
  margin-right: -.375rem
}

.category-list-item:not(body,.token).is-white {
  background-color: #fff;
  color: #0a0a0a
}

.category-list-item:not(body,.token).is-black {
  background-color: #0a0a0a;
  color: #fff
}

.category-list-item:not(body,.token).is-light {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, .7)
}

.category-list-item:not(body,.token).is-dark {
  background-color: #363636;
  color: #fff
}

.category-list-item:not(body,.token).is-primary {
  background-color: #00d1b2;
  color: #fff
}

.category-list-item:not(body,.token).is-primary.is-light {
  background-color: #ebfffc;
  color: #00947e
}

.category-list-item:not(body,.token).is-link {
  background-color: #485fc7;
  color: #fff
}

.category-list-item:not(body,.token).is-link.is-light {
  background-color: #eff1fa;
  color: #3850b7
}

.category-list-item:not(body,.token).is-info {
  background-color: #3e8ed0;
  color: #fff
}

.category-list-item:not(body,.token).is-info.is-light {
  background-color: #eff5fb;
  color: #296fa8
}

.category-list-item:not(body,.token).is-success {
  background-color: #48c78e;
  color: #fff
}

.category-list-item:not(body,.token).is-success.is-light {
  background-color: #effaf5;
  color: #257953
}

.category-list-item:not(body,.token).is-warning {
  background-color: #ffe08a;
  color: rgba(0, 0, 0, .7)
}

.category-list-item:not(body,.token).is-warning.is-light {
  background-color: #fffaeb;
  color: #946c00
}

.category-list-item:not(body,.token).is-danger {
  background-color: #f14668;
  color: #fff
}

.category-list-item:not(body,.token).is-danger.is-light {
  background-color: #feecf0;
  color: #cc0f35
}

.category-list-item:not(body,.token).is-normal {
  font-size: .75rem
}

.category-list-item:not(body,.token).is-medium {
  font-size: 1rem
}

.category-list-item:not(body,.token).is-large {
  font-size: 1.25rem
}

.category-list-item:not(body,.token) .icon:first-child:not(:last-child) {
  margin-left: -.375em;
  margin-right: .1875em
}

.category-list-item:not(body,.token) .icon:last-child:not(:first-child) {
  margin-left: .1875em;
  margin-right: -.375em
}

.category-list-item:not(body,.token) .icon:first-child:last-child {
  margin-left: -.375em;
  margin-right: -.375em
}

.category-list-item:not(body,.token).is-delete {
  margin-left: 1px;
  padding: 0;
  position: relative;
  width: 2em
}

.category-list-item:not(body,.token).is-delete::after,
.category-list-item:not(body,.token).is-delete::before {
  background-color: currentColor;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center
}

.category-list-item:not(body,.token).is-delete::before {
  height: 1px;
  width: 50%
}

.category-list-item:not(body,.token).is-delete::after {
  height: 50%;
  width: 1px
}

.category-list-item:not(body,.token).is-delete:focus,
.category-list-item:not(body,.token).is-delete:hover {
  background-color: #e8e8e8
}

.category-list-item:not(body,.token).is-delete:active {
  background-color: #dbdbdb
}

.category-list-item:not(body,.token).is-rounded {
  border-radius: 9999px
}

a.category-list-item:hover {
  text-decoration: underline
}

.tags .category-list-item {
  margin-bottom: .5rem
}

.tags .category-list-item:not(:last-child) {
  margin-right: .5rem
}

.article-desc{
  min-height: 96px;
}

.tag-cloud{
  padding: 1.25rem;
  background-color: #fafafa;
}

/* 时间线 */
.timeline{
  margin: 2rem auto;
  padding-left: 3rem;
}

.timeline .year{
  position: relative;
  left: -3rem;
}

.timeline .year:not(:first-child){
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.timeline .article{
  position: relative;
  padding: 1rem 0 0 1.25rem;
  line-height: 1.6;
}

.timeline .article:before{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: '';
  width: 1px;
  background-color: #e5e5e5;
}

.timeline .article .article-content{
  display: block;
  padding-left: 1.25rem;
  padding-bottom: 1rem;
}

.timeline .article:not(:last-child) .article-content{
  border-bottom: 1px dashed #b5b5b5;
}

.timeline .article .article-content:before{
  position: absolute;
  top: 50%;
  left: -0.2rem;
  content: '';
  margin-top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #b5b5b5;
  border-radius: 50%;
  z-index: 1;
}

.timeline .article .article-content:after{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  margin-top: -0.5px;
  width: 1.25rem;
  height: 1px;
  background-color: #e5e5e5;
}

.pagination.is-right .pagination-previous{
  order: unset!important;
}

.content a{
  word-break: break-all;
}

.content li code{
  display: inline-block;
}

.mardown{
  min-height: 360px;
}

@media screen and (min-width: 768px) {
  .content img {
    max-width: 70%!important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #17181c;
  }

  html::-webkit-scrollbar-thumb {
    background: #b5b5b5;
  }

  .page-container,
  .footer,
  .category-list-item:not(body, .token),
  .tag-cloud,
  .tag:not(body, .token){
    background-color: rgba(200, 200, 200, 0.1)
  }

  .badge,
  .footer a,
  .category-list-count{
    color: #b5b5b5;
  }
  
}