/* *
* 通用样式部分
* */
/* 滚动条的重置 */
html::-webkit-scrollbar {
    width: 10px;
    z-index: 1;
}

html::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

html {
    scrollbar-width: 10px;
}

.logo {
  cursor: pointer;
}

.page-container {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4em;
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
}

.footer a {
  color: #4a4a4a;
}

.header-user .image img {
  max-height: none;
}

.menu a{
  text-decoration: none!important;
}

.message ul,
.message ol,
.message li{
  list-style: none!important;
}


.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.text-ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.text-ellipsis-8 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}


.text-ellipsis-12 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}

.badge:before{
  padding-left: 2px;
  content: '(';
}
.badge:after{
  content: ')';
}

@media (prefers-color-scheme: dark) {
  .page-container,
  .footer,
  .tag:not(body,.token){
    background-color: rgba(200, 200, 200, 0.1)
  }
  .badge,
  .footer a{
    color: #b5b5b5;
  }
}