<div class="tags-list">
  <div class="columns">
    <div class="column is-one-quarter is-hidden-mobile">
      <div class="block">
        <%- partial('partial/notice', {}, { cache: true }) %>
      </div>
    </div>
    <div class="column is-three-quarters-desktop">
      <h2 class="title is-2">
        分类
      </h2>
      <div class="block">
        <div class="tags">
          <%- list_categories() %>
        </div>
      </div>
      <% if(page.posts) { %>
      <div class="columns is-multiline">
        <% page.posts.each(post => { %>
        <%- partial('partial/article', { post }) %>
        <% }) %>
      </div>
      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <div class="pagination-list">
          <%- paginator({
            page_class: 'pagination-link',
            current_class: 'is-current',
            space_class: 'pagination-ellipsis',
            prev_text: '<',
            prev_class: 'pagination-previous',
            next_text: '>',
            next_class: 'pagination-next',
          }) %>
        </div>
      </nav>
      <% } %>
    </div>
  </div>
</div>