<div class="custom">
  <div class="columns">
    <div class="column is-one-quarter is-hidden-mobile">
      <div class="block">
        <%- partial('partial/notice', {}, { cache: true }) %>
      </div>
    </div>
    <div class="column is-three-quarters-desktop">
      <%- page.content %>
    </div>
  </div>
</div>