<div class="index">
  <section class="section">
    <h1 class="title">
      欢迎
    </h1>
  </section>
  <div class="columns">
    <% page.posts.each(post => { %>
      <%- partial('partial/article', { post }) %>
    <% }) %>
  </div>
  <nav class="pagination is-right" role="navigation" aria-label="pagination">
    <div class="pagination-list">
      <%- paginator({
        page_class: 'pagination-link',
        current_class: 'is-current',
        space_class: 'pagination-ellipsis'
      }) %>
    </div>
  </nav>
</div>