<div class="index">
  <section class="section">
    <h1 class="title">
      欢迎
    </h1>
  </section>
  <div class="columns is-multiline">
    <% page.posts.slice(0, 8).each(post => { %>
      <%- partial('partial/article', { post }) %>
    <% }) %>
  </div>
</div>