<footer class="footer">
  <div class="content has-text-centered">
    <p>
      ©ヽ(･ω･´ﾒ). All rights reserved.
      <span class="split"> | </span>
      <a href="https://beian.miit.gov.cn/#/Integrated/index">皖ICP备17017820号-1</a>
    </p>
  </div>
</footer>