<nav class="navbar is-dark is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="logo pointer" src="<%- url_for('/images/logo.png') %>" width="112" height="28">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <% for (var link in site.data.menu) { %>
          <a class="navbar-item" href="<%= site.data.menu[link] %>">
            <%= link %>
          </a>
          <% } %>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div id="header-search-input" class="control has-icons-right pointer">
          <input readonly class="input is-normal" type="text" placeholder="搜索">
          <span class="icon is-small is-right">
            <i class="fas fa-search fa-xs"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- 搜索框 -->
<div id="modal-search" class="modal">
  <div class="modal-background"></div>
  <button class="modal-close is-large" aria-label="close"></button>
  <div class="modal-content">
    <nav class="panel" style="background-color: #fff;">
      <p class="panel-heading">
        搜索
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="搜索">
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <!-- 搜索内容 -->
      <div class="panel-block panel-box is-active search-result-box">
        <div class="search-result-icon">
          <img class="search-empty" src="<%- url_for('/images/empty.png') %>" width="60" height="60">
          <p class="search-result-tips">找不到匹配数据！</p>
        </div>
      </div>
    </nav>
  </div>
</div>