<article class="message is-dark">
  <div class="message-header">
    <p>公告</p>
  </div>
  <div class="message-body">
    <p>少而好学，如日出之阳；壮而好学，如日中之光；老而好学，如炳烛之明。</p>
    <p style="text-align: right;">——刘向</p>
  </div>
</article>